  <footer>

        <h4>Puedes consulrar nuestro aviso de privacidad en <a href="/privacity">www.searchhouse/privacidad.com</a> </h4>
        <h2>&copy; Search House Company | By: Raul Garces</h2>
    </footer>