

                        <div class="botone" id="opcion">
                            <h4>me gustaria:</h4>
                            <div class="botones">
                                <input type="radio" class="" name="opcion" value="comprar" id="opcion2">
                                <label for="opcion2"> Comprar </label>
                                <input type="radio" class="" name="opcion" value=" vender" id="opcion1">
                                <label for="opcion1"> Vender </label>




                            </div>

                        </div>