{{> nav }}

<div class="container">
    <div class="row">
        {{#each user}}
        {{this}}
        
        {{/each}}
    </div>
    <div>
        <h1> Bienvenido a tu perfil</h1>

    </div>

    <section><div class=" container">
<div class="contianer ">    <p> ¿que te gustaria hacer?</p></div>    
<div> <a href="/preca"> <button class="btn btn-primary">Quiero comprar</button> </a></div>
<div> <a href="/venta"> <button class="btn btn-dark">Quiero vender</button> </a></div>
    </div></section>
</div>