<div class="container">
  
<div><h1> 
Estas vendiendo 
</h1></div>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">calle</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">colonia</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="colonia">
    </div>
  </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">nomero interior</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="ejem 1245">
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="inputAddress">municipio</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="">
  </div>
    <div class="form-group col-md-2">
      <label for="inputZip">codigo postal</label>
      <input type="text" class="form-control" id="codigo">
    </div>
 
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>1</option>
         <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">precio estimado de venta</label>
      <input type="text" class="form-control" id="precio" placeholder="¿cuento cuesta tu casa?">
    </div>
  </div>
  <div >
      <label for="inputZip">descripcion </label>
      <textarea name="descripcion" id="descripcion" cols="100" rows="5"
       placeholder="Una descripcion adecuada puede ayudar a que tu vivenda se venda mas rapido
       " ></textarea>
     
    
  </div>
    <div >
      <label for="inputZip">aqui van las imagenes</label>
   
     
    
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
     la vivienda cuenta con pagos al corriente
      </label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">publicar</button>
</form>
</div>
